<html>
  <head>
    <title>Login and Registration</title>
  </head>
  <body>
    <div>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>    
    <h3>New User (Sign Up):</h3>
    <form action='/sign_up' method='POST'>
      {% csrf_token %}
      <label for="first_name">First Name:<input type="text" name="first_name" id="first_name" value="{{ old_form.first_name }}"></label>
      <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name" value="{{ old_form.last_name }}"></label>
      <label for="email">Email:<input type="text" name="email" id="email" value="{{ old_form.email }}"></label>
      <label for="password">Password:<input type="password" name="password" id="password"></label>
      <label for="password_confirm">Password Confirm:<input type="password" name="password_confirm" id="password_confirm"></label>
      <input type="submit" value="Submit">
    </form>
    <h3>Returning User (Sign In):</h3>
    <form action='/sign_in' method='POST'>
      {% csrf_token %}
      <label for="email_sign_in">Email:<input type="text" name="email_sign_in" id="email_sign_in" value="{{ old_form.email_sign_in }}"></label>
      <label for="password_sign_in">Password:<input type="password" name="password_sign_in" id="password_sign_in"></label>
      <label for="password_confirm_sign_in">Password Confirm:<input type="password" name="password_confirm_sign_in" id="password_confirm_sign_in"></label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
